<nz-table #userTable [nzPageSize]="10" [nzScroll]="{ y: '500px' }" [nzLoading]="(loaded$ | async)== false"
  [nzData]="users | async">
  <thead>
    <tr>
      <th>نام</th>
      <th>توضیحات</th>
      <th>عکس</th>
      <th>عملیات</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userTable.data">
      <td>{{ user.title }}</td>
      <td class="desc">
        {{ user.description }}
      </td>
      <td>
        <nz-avatar nzIcon="user" [nzSrc]="user.image"></nz-avatar>
      </td>
      <td>
        <a [routerLink]="[user.id]">جزییات</a>
      </td>
    </tr>
  </tbody>
</nz-table>
